@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #2e4f3e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #fff4e9;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #dfdfdf00;
}

::-webkit-scrollbar-thumb {
    background: #2e4f3e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #353355;
}

.ant-form-item {
    margin-bottom: 15px !important;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
    border-inline-end: none !important;
}

/* sidebar */
.ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: #2e4f3e !important;
}

.ant-select-selector {
    border: none !important;
    box-shadow: none !important;
}

.ant-menu-item a {
    transition: none !important;
}

/* Remove focus ring from Ant Design inputs */
.ant-input:focus,
.ant-input-focused,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
    box-shadow: none !important;
    outline: none !important;
    border-color: transparent !important;
}

.ant-table-wrapper .ant-table tbody > tr > td {
    background: #fff4e9 !important;
}

.ant-table-wrapper .ant-table thead > tr > th {
    background: #2e4f3e26 !important;
}

.ant-pagination .ant-pagination-item {
    border-radius: 16px !important;
    background: #fff4e9 !important;
    border: 1px solid #2e4f3e !important;
    color: #2e4f3e !important;
}

.ant-pagination .ant-pagination-item-active {
    background: #2e4f3e !important;
    color: #fff !important;
    border-radius: 16px !important;
}

.ant-pagination .ant-pagination-item:hover {
    background: #2e4f3e !important;
    color: #fff !important;
    border-radius: 16px !important;
}

.ant-pagination .ant-pagination-item-active:hover {
    background: #2e4f3e !important;
    color: #fff !important;
    border-radius: 16px !important;
}

/* Hover state for normal items */
.ant-pagination .ant-pagination-item:hover a {
    color: #fff !important;
}

/* Active item hover */
.ant-pagination .ant-pagination-item-active:hover a {
    color: #fff !important;
}

.ant-pagination .ant-pagination-item-active a {
    color: #fff !important;
}
